<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Offres d'hotel</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h1>Version distrbuée webservice1 : Chercher les offres
							d'hotel</h1>
						<form action="#" th:action="@{/reservation}"
							th:object="${reservationRequest}" method="post">
							<p>
								Login: <input type="text" th:field="*{login}" />
							</p>
							<p>
								Password: <input type="text" th:field="*{password}" />
							</p>
							<p>
								idOffre: <input type="text" th:field="*{idOffre}" />
							</p>
							<p>
								prenom de client: <input type="text" th:field="*{client.prenom}" />
							</p>
							<p>
								nom de client: <input type="text" th:field="*{client.nom}" />
							</p>
							<p>
								Numéro de carte banacaire: <input type="text"
									th:field="*{client.carteCredit}" />
							</p>
							<p>
								<input type="submit" value="Submit" /> <input type="reset"
									value="Reset" />
							</p>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>
